h1 {
  font-family: 'Raleway', sans-serif;
  margin-left: 1.66%;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 2px solid #f3f3f3;
  padding-bottom: 30px;
  width: 30%;
  letter-spacing: 3px;
}


img {
  width: 30%;
  float: left;
  margin: 1.66%;
}
